.out {
    width: 100%;
}

.conainer {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.conainer>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.conainer>ul>li {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.conainer>ul>li>a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.conainer>ul>li>a img {
    width: 100%;
    height: 100%;
}
